@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #0066ff;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}


body {
  background-color: #101010;
}

img {
  width: 100%;
}

#title--projects {
  color: var(--main-color);
  font-size: 4em;
  padding-top: 0.5em;
}

#darkmode {
  font-size: 22px;
  cursor: pointer;
}

.projects--section {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
}

.content--projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 100px;
}

.cards--wrapper {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-bottom: 15px;
  overflow: hidden;
  background: #191919;
  border-bottom: solid 5px var(--main-color);
  -webkit-box-shadow: 0px 20px 21px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 21px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 21px -2px rgba(0, 0, 0, 0.75);
  transition: 0.5s ease-in-out;
}

.card--wrapp__img {
  border-radius: 25px;
  padding: 15px 15px 5px 15px;
}

.card--wrapp__img img {
  border-radius: 5px;
}

.card--wrapp__text {
  position: relative;
  width: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px 15px 15px;
}

.card--wrapp__title {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.card--wrapp__description {
  font-size: 0.875rem;
  font-weight: 300;
  margin-top: 15px;
}

.card--wrapp__skills {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #fff;
}

.card--wrapp__skills p {
  font-size: 0.875rem;
  font-weight: 300;
  background: var(--main-color);
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}

.card--wrapp__web a {
  display: block;
  font-size: 1.5rem;
  color: var(--main-color);
  padding: 5px 10px;
  margin-top: 15px;
  transition: 0.2s;
}

.card--wrapp__web a:hover {
  color: #fff;
}

.projects--content__more a {
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 30px;
  transition: 0.3s;
}